extends layout
block content
  link(rel="stylesheet", href="/stylesheets/css/login.css")
  body
    .login
      .title OA
      .form
        input(type="input" placeholder="place enter account")
        input(type="password" placeholder="place enter password")
        button Enter
      .note this is ....
      .footer register



